RTCore/xml/gloria_rtdi_raindetector.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- ************************************** -->
<!-- * Archive: Gloria RTDI RAIN DETECTOR * -->
<!-- * Author: Juan Cabello               * -->
<!-- * Date  : 12/09/2012                 * -->
<!-- ************************************** -->
<wsdl:definitions xmlns:gloria.rt.entity.device="http://gloria.eu/rt/entity/device" xmlns:gloria.rtdi.fault="http://gloria.eu/rtdi/fault" xmlns:rtdi.raindetector="http://gloria.eu/rtdi.raindetector" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="gloria_rtdi_raindetector" targetNamespace="http://gloria.eu/rtdi.raindetector">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gloria.eu/rtdi.raindetector">
    
      <xsd:import namespace="http://gloria.eu/rtdi/fault" schemaLocation="gloria_rtdi_fault.xsd"/> 
      <xsd:import namespace="http://gloria.eu/rt/entity/device" schemaLocation="gloria_rti_device.xsd"/>
      
      <!-- BASIC TYPE RESPONSES - BEGIN -->
      
	  <xsd:element name="voidResponse">
        <xsd:complexType>
          <xsd:sequence>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
      <xsd:element name="stringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="booleanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="intResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="longResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="doubleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- BASIC TYPE RESPONSES - END -->
            
      <!-- COMMON DEVICE ELEMENTS - BEGIN -->
      <xsd:element name="devGetConfiguration">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDeviceProperties">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevicePropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="gloria.rt.entity.device:deviceProperty"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     <xsd:element name="devGetDeviceProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevicePropertyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:deviceProperty"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     <xsd:element name="devIsConnected">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allProperties" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDeviceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:device"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devUpdateDeviceProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devUpdateDevicePropertyAsync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devConnect">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devDisconnect">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devIsBlocked">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- COMMON DEVICE ELEMENTS - END -->
      
      <!-- RAINDETECTOR ELEMENTS - BEGIN -->
      <xsd:element name="rndGetMeasureUnit">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rndGetMeasureUnitResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:measureUnit"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rndGetMeasure">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rndSetMeasureStates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="states" type="gloria.rt.entity.device:sensorStateIntervalDouble"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rndGetMeasureStates">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rndGetMeasureStatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="gloria.rt.entity.device:sensorStateIntervalDouble"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rndIsRaining">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- RAINDETECTOR ELEMENTS - END -->
      
    </xsd:schema> 
  </wsdl:types>
  
  <!-- ERROR MESSAGES - BEGIN -->
  <wsdl:message name="rtdError">
    <wsdl:part element="gloria.rtdi.fault:errorDetail" name="rtdError">    
    </wsdl:part>
  </wsdl:message>
  <!-- ERROR MESSAGES - END -->
  
  <!-- COMMON DEVICE MESSAGES - BEGIN -->
  <wsdl:message name="devGetConfigurationRequest">
    <wsdl:part element="rtdi.raindetector:devGetConfiguration" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetConfigurationResponse">
    <wsdl:part element="rtdi.raindetector:stringResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDeviceRequest">
    <wsdl:part element="rtdi.raindetector:devGetDevice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDeviceResponse">
    <wsdl:part element="rtdi.raindetector:devGetDeviceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="devGetDevicePropertiesRequest">
    <wsdl:part element="rtdi.raindetector:devGetDeviceProperties" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDevicePropertiesResponse">
    <wsdl:part element="rtdi.raindetector:devGetDevicePropertiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devGetDevicePropertyRequest">
    <wsdl:part element="rtdi.raindetector:devGetDeviceProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDevicePropertyResponse">
    <wsdl:part element="rtdi.raindetector:devGetDevicePropertyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devUpdateDevicePropertyRequest">
    <wsdl:part element="rtdi.raindetector:devUpdateDeviceProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devUpdateDevicePropertyResponse">
    <wsdl:part element="rtdi.raindetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devUpdateDevicePropertyAsyncRequest">
    <wsdl:part element="rtdi.raindetector:devUpdateDevicePropertyAsync" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devUpdateDevicePropertyAsyncResponse">
    <wsdl:part element="rtdi.raindetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="devIsConnectedRequest">
    <wsdl:part element="rtdi.raindetector:devIsConnected" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsConnectedResponse">
    <wsdl:part element="rtdi.raindetector:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devConnectRequest">
    <wsdl:part element="rtdi.raindetector:devConnect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devConnectResponse">
    <wsdl:part element="rtdi.raindetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devDisconnectRequest">
    <wsdl:part element="rtdi.raindetector:devDisconnect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devDisconnectResponse">
    <wsdl:part element="rtdi.raindetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsBlockedRequest">
    <wsdl:part element="rtdi.raindetector:devIsBlocked" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsBlockedResponse">
    <wsdl:part element="rtdi.raindetector:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <!-- COMMON DEVICE MESSAGES - END -->
 
  
  <!-- RAINDETECTOR DEVICE MESSAGES - BEGIN -->
  <wsdl:message name="rndGetMeasureUnitRequest">
    <wsdl:part element="rtdi.raindetector:rndGetMeasureUnit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndGetMeasureUnitResponse">
    <wsdl:part element="rtdi.raindetector:rndGetMeasureUnitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndGetMeasureRequest">
    <wsdl:part element="rtdi.raindetector:rndGetMeasure" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndGetMeasureResponse">
    <wsdl:part element="rtdi.raindetector:doubleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndSetMeasureStatesRequest">
    <wsdl:part element="rtdi.raindetector:rndSetMeasureStates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndSetMeasureStatesResponse">
    <wsdl:part element="rtdi.raindetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndGetMeasureStatesRequest">
    <wsdl:part element="rtdi.raindetector:rndGetMeasureStates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndGetMeasureStatesResponse">
    <wsdl:part element="rtdi.raindetector:rndGetMeasureStatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndIsRainingRequest">
    <wsdl:part element="rtdi.raindetector:rndIsRaining" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rndIsRainingResponse">
    <wsdl:part element="rtdi.raindetector:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <!-- RAINDETECTOR DEVICE MESSAGES - END -->
  
  
  <wsdl:portType name="gloria_rtdi_raindetector"> 
  
  	<!-- COMMON DEVICE PORT TYPE OPS - BEGIN -->    
    <wsdl:operation name="devGetDevice">
	  <wsdl:documentation>
	  Recover the information of one device.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @return Current device data.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devGetDeviceRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devGetDeviceResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperties">
	  <wsdl:documentation>
	  Recover the properties of a device.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @return Properties List.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devGetDevicePropertiesRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devGetDevicePropertiesResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperty">
	  <wsdl:documentation>
	  Recover a property of a device.
	  @param name Property name
	  @return Properties List.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devGetDevicePropertyRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devGetDevicePropertyResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDeviceProperty">
	  <wsdl:documentation>
	  Updates a property into a Device configuration. If the property is a readonly property or the value cannot be (internally) transformed into the proper type, an exception will be throw.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @param name Property name.
	  @param value Values of the property.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devUpdateDevicePropertyRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devUpdateDevicePropertyResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDevicePropertyAsync">
	  <wsdl:documentation>
	  Updates a property into a Device configuration. If the property is a readonly property or the value cannot be (internally) transformed into the proper type, an exception will be throw.
	  Asynchronous call.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @param name Property name.
	  @param value Values of the property.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devUpdateDevicePropertyAsyncRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devUpdateDevicePropertyAsyncResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devIsConnected">
	  <wsdl:documentation>
	  Checks the link between the driver and the device. If True, the link is enable.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @return boolean.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devIsConnectedRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devIsConnectedResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devConnect">
	  <wsdl:documentation>
	  Creates the link between the driver and the device.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devConnectRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devConnectResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devDisconnect">
	  <wsdl:documentation>
	  Controls the link between the driver and the device. Set True to enable the link. Set False to disable the link.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devDisconnectRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devDisconnectResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetConfiguration">
	  <wsdl:documentation>
	  Returns a String containing a full configuration information. For logging purpose.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Id.
	  @return Configuration in a string.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devGetConfigurationRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devGetConfigurationResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    
     <wsdl:operation name="devIsBlocked">
	  <wsdl:documentation>
	  Returns true if the device is blocked because of its blocked state or some dependency to other device.
	  @throws RtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:devIsBlockedRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.raindetector:devIsBlockedResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    <!-- COMMON DEVICE PORT TYPE OPS - END -->
    
    
    <!-- RAINDETECTOR PORT TYPE OPS - BEGIN -->
   <wsdl:operation name="rndGetMeasureUnit">
	  <wsdl:documentation>
	  Returns the measure units of the sensor. Cycles if a capacitor is used; Inches is a hygroscopic disc is used.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return MeasureUnit.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:rndGetMeasureUnitRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.raindetector:rndGetMeasureUnitResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="rndGetMeasure">
	  <wsdl:documentation>
	  Returns the measure of the sensor. Cycles if a capacitor is used; Inches is a hygroscopic disc is used.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return MeasureUnit.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:rndGetMeasureRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.raindetector:rndGetMeasureResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="rndSetMeasureStates">
	  <wsdl:documentation>
	  Sets the measure interval states.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @param states State (measure interval and alarm activation).
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:rndSetMeasureStatesRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.raindetector:rndSetMeasureStatesResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="rndGetMeasureStates">
	  <wsdl:documentation>
	  Returns the list of the measure interval states.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return List of states information.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:rndGetMeasureStatesRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.raindetector:rndGetMeasureStatesResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="rndIsRaining">
	  <wsdl:documentation>
	  Returns true if it is raining.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.raindetector:rndIsRainingRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.raindetector:rndIsRainingResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.raindetector:rtdError" name="error"/>
    </wsdl:operation>
   
    <!-- RAINDETECTOR PORT TYPE OPS - END -->
    
  </wsdl:portType>

  
  <wsdl:binding name="gloria_rtdi_raindetectorSOAP" type="rtdi.raindetector:gloria_rtdi_raindetector">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- COMMON DEVICE BINDING OPS - BEGIN -->
    <wsdl:operation name="devGetDevice">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devGetDevice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperties">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devGetDeviceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperty">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devGetDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDeviceProperty">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devUpdateDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="devUpdateDevicePropertyAsync">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devUpdateDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devIsConnected">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devIsConnected"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devConnect">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devConnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devDisconnect">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devDisconnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetConfiguration">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devGetConfiguration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devIsBlocked">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/devIsBlocked"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- COMMON DEVICE BINDING OPS - END -->
    
     <!-- RAINDETECTOR DEVICE BINDING OPS - BEGIN -->
     <wsdl:operation name="rndGetMeasureUnit">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/rndGetMeasureUnit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rndGetMeasure">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/rndGetMeasure"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rndSetMeasureStates">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/rndSetMeasureStates"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rndGetMeasureStates">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/rndGetMeasureStates"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rndIsRaining">
      <soap:operation soapAction="http://gloria.eu/rtdi.raindetector/rndIsRaining"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
       
     <!-- RAINDETECTOR DEVICE BINDING OPS - END -->
    
  </wsdl:binding>
  
  <wsdl:service name="gloria_rtdi_raindetector">
    <wsdl:documentation/>
    <wsdl:port binding="rtdi.raindetector:gloria_rtdi_raindetectorSOAP" name="gloria_rtdi_raindetectorSOAP">
      <soap:address location="http://localhost:8080/RTDI_Raindetector/services/gloria_rtdi_raindetectorSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>