RTCore/xml/gloria_rtdi_windspeeddetector.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- ****************************************** -->
<!-- * Archive: Gloria RTDI WindSpeedDetector * -->
<!-- * Author: Juan Cabello                   * -->
<!-- * Date  : 13/09/2012                     * -->
<!-- ****************************************** -->
<wsdl:definitions xmlns:gloria.rt.entity.device="http://gloria.eu/rt/entity/device" xmlns:gloria.rtdi.fault="http://gloria.eu/rtdi/fault" xmlns:rtdi.windspeeddetector="http://gloria.eu/rtdi.windspeeddetector" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="gloria_rtdi_windspeeddetector" targetNamespace="http://gloria.eu/rtdi.windspeeddetector">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gloria.eu/rtdi.windspeeddetector">
    
      <xsd:import namespace="http://gloria.eu/rtdi/fault" schemaLocation="gloria_rtdi_fault.xsd"/> 
      <xsd:import namespace="http://gloria.eu/rt/entity/device" schemaLocation="gloria_rti_device.xsd"/>
      
      <!-- BASIC TYPE RESPONSES - BEGIN -->
      
	  <xsd:element name="voidResponse">
        <xsd:complexType>
          <xsd:sequence>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
      <xsd:element name="stringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="booleanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="intResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="longResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="doubleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- BASIC TYPE RESPONSES - END -->
            
      <!-- COMMON DEVICE ELEMENTS - BEGIN -->
      <xsd:element name="devGetConfiguration">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDeviceProperties">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevicePropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="gloria.rt.entity.device:deviceProperty"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     <xsd:element name="devGetDeviceProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevicePropertyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:deviceProperty"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     <xsd:element name="devIsConnected">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allProperties" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDeviceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:device"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devUpdateDeviceProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devUpdateDevicePropertyAsync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devConnect">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devDisconnect">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devIsBlocked">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- COMMON DEVICE ELEMENTS - END -->
      
      <!-- windspeeddetector ELEMENTS - BEGIN -->
      <xsd:element name="wspGetMeasureUnit">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wspGetMeasureUnitResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:measureUnit"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
       <xsd:element name="wspGetMeasure">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
       <xsd:element name="wspGetAbosluteDegrees">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
       <xsd:element name="wspSetMeasureStates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="states" type="gloria.rt.entity.device:sensorStateIntervalDouble"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
       <xsd:element name="wspGetMeasureStates">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wspGetMeasureStatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="gloria.rt.entity.device:sensorStateIntervalDouble"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- windspeeddetector ELEMENTS - END -->
      
    </xsd:schema> 
  </wsdl:types>
  
  <!-- ERROR MESSAGES - BEGIN -->
  <wsdl:message name="rtdError">
    <wsdl:part element="gloria.rtdi.fault:errorDetail" name="rtdError">    
    </wsdl:part>
  </wsdl:message>
  <!-- ERROR MESSAGES - END -->
  
  <!-- COMMON DEVICE MESSAGES - BEGIN -->
  <wsdl:message name="devGetConfigurationRequest">
    <wsdl:part element="rtdi.windspeeddetector:devGetConfiguration" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetConfigurationResponse">
    <wsdl:part element="rtdi.windspeeddetector:stringResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDeviceRequest">
    <wsdl:part element="rtdi.windspeeddetector:devGetDevice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDeviceResponse">
    <wsdl:part element="rtdi.windspeeddetector:devGetDeviceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="devGetDevicePropertiesRequest">
    <wsdl:part element="rtdi.windspeeddetector:devGetDeviceProperties" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDevicePropertiesResponse">
    <wsdl:part element="rtdi.windspeeddetector:devGetDevicePropertiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devGetDevicePropertyRequest">
    <wsdl:part element="rtdi.windspeeddetector:devGetDeviceProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDevicePropertyResponse">
    <wsdl:part element="rtdi.windspeeddetector:devGetDevicePropertyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devUpdateDevicePropertyRequest">
    <wsdl:part element="rtdi.windspeeddetector:devUpdateDeviceProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devUpdateDevicePropertyResponse">
    <wsdl:part element="rtdi.windspeeddetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devUpdateDevicePropertyAsyncRequest">
    <wsdl:part element="rtdi.windspeeddetector:devUpdateDevicePropertyAsync" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devUpdateDevicePropertyAsyncResponse">
    <wsdl:part element="rtdi.windspeeddetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="devIsConnectedRequest">
    <wsdl:part element="rtdi.windspeeddetector:devIsConnected" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsConnectedResponse">
    <wsdl:part element="rtdi.windspeeddetector:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devConnectRequest">
    <wsdl:part element="rtdi.windspeeddetector:devConnect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devConnectResponse">
    <wsdl:part element="rtdi.windspeeddetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devDisconnectRequest">
    <wsdl:part element="rtdi.windspeeddetector:devDisconnect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devDisconnectResponse">
    <wsdl:part element="rtdi.windspeeddetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsBlockedRequest">
    <wsdl:part element="rtdi.windspeeddetector:devIsBlocked" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsBlockedResponse">
    <wsdl:part element="rtdi.windspeeddetector:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <!-- COMMON DEVICE MESSAGES - END -->
 
  
  <!-- WINDSPEEDDETECTOR DEVICE MESSAGES - BEGIN -->
  <wsdl:message name="wspGetMeasureUnitRequest">
    <wsdl:part element="rtdi.windspeeddetector:wspGetMeasureUnit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetMeasureUnitResponse">
    <wsdl:part element="rtdi.windspeeddetector:wspGetMeasureUnitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetMeasureRequest">
    <wsdl:part element="rtdi.windspeeddetector:wspGetMeasure" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetMeasureResponse">
    <wsdl:part element="rtdi.windspeeddetector:doubleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetAbosluteDegreesRequest">
    <wsdl:part element="rtdi.windspeeddetector:wspGetAbosluteDegrees" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetAbosluteDegreesResponse">
    <wsdl:part element="rtdi.windspeeddetector:doubleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspSetMeasureStatesRequest">
    <wsdl:part element="rtdi.windspeeddetector:wspSetMeasureStates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspSetMeasureStatesResponse">
    <wsdl:part element="rtdi.windspeeddetector:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetMeasureStatesRequest">
    <wsdl:part element="rtdi.windspeeddetector:wspGetMeasureStates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wspGetMeasureStatesResponse">
    <wsdl:part element="rtdi.windspeeddetector:wspGetMeasureStatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <!-- WINDSPEEDDETECTOR DEVICE MESSAGES - END -->
  
  
  <wsdl:portType name="gloria_rtdi_windspeeddetector"> 
  
  	<!-- COMMON DEVICE PORT TYPE OPS - BEGIN -->    
    <wsdl:operation name="devGetDevice">
	  <wsdl:documentation>
	  Recover the information of one device.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @return Current device data.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devGetDeviceRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devGetDeviceResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperties">
	  <wsdl:documentation>
	  Recover the properties of a device.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @return Properties List.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devGetDevicePropertiesRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devGetDevicePropertiesResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperty">
	  <wsdl:documentation>
	  Recover a property of a device.
	  @param name Property name
	  @return Properties List.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devGetDevicePropertyRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devGetDevicePropertyResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDeviceProperty">
	  <wsdl:documentation>
	  Updates a property into a Device configuration. If the property is a readonly property or the value cannot be (internally) transformed into the proper type, an exception will be throw.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @param name Property name.
	  @param value Values of the property.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devUpdateDevicePropertyRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devUpdateDevicePropertyResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDevicePropertyAsync">
	  <wsdl:documentation>
	  Updates a property into a Device configuration. If the property is a readonly property or the value cannot be (internally) transformed into the proper type, an exception will be throw.
	  Asynchronous call.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @param name Property name.
	  @param value Values of the property.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devUpdateDevicePropertyAsyncRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devUpdateDevicePropertyAsyncResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devIsConnected">
	  <wsdl:documentation>
	  Checks the link between the driver and the device. If True, the link is enable.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @return boolean.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devIsConnectedRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devIsConnectedResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devConnect">
	  <wsdl:documentation>
	  Creates the link between the driver and the device.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devConnectRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devConnectResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devDisconnect">
	  <wsdl:documentation>
	  Controls the link between the driver and the device. Set True to enable the link. Set False to disable the link.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Identifier.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devDisconnectRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devDisconnectResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetConfiguration">
	  <wsdl:documentation>
	  Returns a String containing a full configuration information. For logging purpose.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device Id.
	  @return Configuration in a string.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devGetConfigurationRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devGetConfigurationResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    
     <wsdl:operation name="devIsBlocked">
	  <wsdl:documentation>
	  Returns true if the device is blocked because of its blocked state or some dependency to other device.
	  @throws RtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:devIsBlockedRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:devIsBlockedResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    <!-- COMMON DEVICE PORT TYPE OPS - END -->
    
    
    <!-- WINDSPEEDDETECTOR PORT TYPE OPS - BEGIN -->
   <wsdl:operation name="wspGetMeasureUnit">
	  <wsdl:documentation>
	  Returns the measure units of the sensor (DEGREES). 
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return MeasureUnit.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:wspGetMeasureUnitRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:wspGetMeasureUnitResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="wspGetMeasure">
	  <wsdl:documentation>
	  Returns the measure of the sensor.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return MeasureUnit.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:wspGetMeasureRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:wspGetMeasureResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="wspGetAbosluteDegrees">
	  <wsdl:documentation>
	  Is the absolute orientation (Device configuration).
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return degrees.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:wspGetAbosluteDegreesRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:wspGetAbosluteDegreesResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="wspSetMeasureStates">
	  <wsdl:documentation>
	  Sets the measure interval states.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @param states State (measure interval and alarm activation).
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:wspSetMeasureStatesRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:wspSetMeasureStatesResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="wspGetMeasureStates">
	  <wsdl:documentation>
	  Returns the list of the measure interval states.
	  @param session Session token if the used login method is based on session token type.
	  @param deviceId Device identifier.
	  @return List of states information.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.windspeeddetector:wspGetMeasureStatesRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.windspeeddetector:wspGetMeasureStatesResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.windspeeddetector:rtdError" name="error"/>
    </wsdl:operation>
   
    <!-- WINDSPEEDDETECTOR PORT TYPE OPS - END -->
    
  </wsdl:portType>

  
  <wsdl:binding name="gloria_rtdi_windspeeddetectorSOAP" type="rtdi.windspeeddetector:gloria_rtdi_windspeeddetector">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- COMMON DEVICE BINDING OPS - BEGIN -->
    <wsdl:operation name="devGetDevice">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devGetDevice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperties">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devGetDeviceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperty">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devGetDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDeviceProperty">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devUpdateDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="devUpdateDevicePropertyAsync">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devUpdateDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devIsConnected">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devIsConnected"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devConnect">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devConnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devDisconnect">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devDisconnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetConfiguration">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devGetConfiguration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devIsBlocked">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/devIsBlocked"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- COMMON DEVICE BINDING OPS - END -->
    
     <!-- WINDSPEEDDETECTOR DEVICE BINDING OPS - BEGIN -->
     <wsdl:operation name="wspGetMeasureUnit">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/wspGetMeasureUnit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wspGetMeasure">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/wspGetMeasure"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wspGetAbosluteDegrees">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/wspGetAbosluteDegrees"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wspSetMeasureStates">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/wspSetMeasureStates"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wspGetMeasureStates">
      <soap:operation soapAction="http://gloria.eu/rtdi.windspeeddetector/wspGetMeasureStates"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
       
     <!-- WINDSPEEDDETECTOR DEVICE BINDING OPS - END -->
    
  </wsdl:binding>
  
  <wsdl:service name="gloria_rtdi_windspeeddetector">
    <wsdl:documentation/>
    <wsdl:port binding="rtdi.windspeeddetector:gloria_rtdi_windspeeddetectorSOAP" name="gloria_rtdi_windspeeddetectorSOAP">
      <soap:address location="http://localhost:8080/RTDI_Windspeeddetector/services/gloria_rtdi_windspeeddetectorSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>