RTCore/xml/gloria_rtdi_dewremover.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- ************************************ -->
<!-- * Archive: Gloria RTDI DEW REMOVER * -->
<!-- * Author: Mª Carmen López          * -->
<!-- * Date  : 7/09/2012                * -->
<!-- ************************************ -->
<wsdl:definitions xmlns:gloria.rt.entity.device="http://gloria.eu/rt/entity/device" xmlns:gloria.rtdi.fault="http://gloria.eu/rtdi/fault" xmlns:rtdi.dewremover="http://gloria.eu/rtdi.dewremover" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="gloria_rtdi_filter" targetNamespace="http://gloria.eu/rtdi.dewremover">
  <wsdl:types>
    <xsd:schema targetNamespace="http://gloria.eu/rtdi.dewremover">
    
      <xsd:import namespace="http://gloria.eu/rtdi/fault" schemaLocation="gloria_rtdi_fault.xsd"/> 
      <xsd:import namespace="http://gloria.eu/rt/entity/device" schemaLocation="gloria_rti_device.xsd"/>

      <!-- BASIC TYPE RESPONSES - BEGIN -->
      
	  <xsd:element name="voidResponse">
        <xsd:complexType>
          <xsd:sequence>            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
      <xsd:element name="stringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="booleanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="intResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="longResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="doubleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!-- BASIC TYPE RESPONSES - END -->
      
      <!-- COMMON DEVICE ELEMENTS - BEGIN -->
      <xsd:element name="devGetConfiguration">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDeviceProperties">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevicePropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="out" type="gloria.rt.entity.device:deviceProperty"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     <xsd:element name="devGetDeviceProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevicePropertyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:deviceProperty"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
     <xsd:element name="devIsConnected">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDevice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allProperties" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devGetDeviceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:device"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devUpdateDeviceProperty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devUpdateDevicePropertyAsync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devConnect">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devDisconnect">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="devIsBlocked">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- COMMON DEVICE ELEMENTS - END -->
      
      <!-- DEW REMOVER ELEMENTS - BEGIN -->
      <xsd:element name="dwrGetChannelsNumber">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="dwrGetChannelType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="channel" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="dwrGetChannelTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="gloria.rt.entity.device:dewRemoverChannelType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="dwrSetTemperatureThreshold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="channel" type="xsd:int"/>
            <xsd:element name="temperature" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="dwrSetCycleThreshold">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="channel" type="xsd:int"/>
            <xsd:element name="cycle" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- DEW REMOVER ELEMENTS - END -->
      
    </xsd:schema> 
  </wsdl:types>
  
  <!-- ERROR MESSAGES - BEGIN -->
  <wsdl:message name="rtdError">
    <wsdl:part element="gloria.rtdi.fault:errorDetail" name="rtdError">    
    </wsdl:part>
  </wsdl:message>
  <!-- ERROR MESSAGES - END -->
  
  <!-- COMMON DEVICE MESSAGES - BEGIN -->
  <wsdl:message name="devGetConfigurationRequest">
    <wsdl:part element="rtdi.dewremover:devGetConfiguration" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetConfigurationResponse">
    <wsdl:part element="rtdi.dewremover:stringResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDeviceRequest">
    <wsdl:part element="rtdi.dewremover:devGetDevice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDeviceResponse">
    <wsdl:part element="rtdi.dewremover:devGetDeviceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  
  <wsdl:message name="devGetDevicePropertiesRequest">
    <wsdl:part element="rtdi.dewremover:devGetDeviceProperties" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDevicePropertiesResponse">
    <wsdl:part element="rtdi.dewremover:devGetDevicePropertiesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devGetDevicePropertyRequest">
    <wsdl:part element="rtdi.dewremover:devGetDeviceProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devGetDevicePropertyResponse">
    <wsdl:part element="rtdi.dewremover:devGetDevicePropertyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devUpdateDevicePropertyRequest">
    <wsdl:part element="rtdi.dewremover:devUpdateDeviceProperty" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devUpdateDevicePropertyResponse">
    <wsdl:part element="rtdi.dewremover:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devUpdateDevicePropertyAsyncRequest">
    <wsdl:part element="rtdi.dewremover:devUpdateDevicePropertyAsync" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devUpdateDevicePropertyAsyncResponse">
    <wsdl:part element="rtdi.dewremover:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
   <wsdl:message name="devIsConnectedRequest">
    <wsdl:part element="rtdi.dewremover:devIsConnected" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsConnectedResponse">
    <wsdl:part element="rtdi.dewremover:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devConnectRequest">
    <wsdl:part element="rtdi.dewremover:devConnect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devConnectResponse">
    <wsdl:part element="rtdi.dewremover:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devDisconnectRequest">
    <wsdl:part element="rtdi.dewremover:devDisconnect" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devDisconnectResponse">
    <wsdl:part element="rtdi.dewremover:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="devIsBlockedRequest">
    <wsdl:part element="rtdi.dewremover:devIsBlocked" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devIsBlockedResponse">
    <wsdl:part element="rtdi.dewremover:booleanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <!-- COMMON DEVICE MESSAGES - END -->
  
  <!-- DEW REMOVER DEVICE MESSAGES - BEGIN -->
  <wsdl:message name="dwrGetChannelsNumberRequest">
    <wsdl:part element="rtdi.dewremover:dwrGetChannelsNumber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrGetChannelsNumberResponse">
    <wsdl:part element="rtdi.dewremover:intResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrGetChannelTypeRequest">
    <wsdl:part element="rtdi.dewremover:dwrGetChannelType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrGetChannelTypeResponse">
    <wsdl:part element="rtdi.dewremover:dwrGetChannelTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrSetTemperatureThresholdRequest">
    <wsdl:part element="rtdi.dewremover:dwrSetTemperatureThreshold" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrSetTemperatureThresholdResponse">
    <wsdl:part element="rtdi.dewremover:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrSetCycleThresholdRequest">
    <wsdl:part element="rtdi.dewremover:dwrSetCycleThreshold" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dwrSetCycleThresholdResponse">
    <wsdl:part element="rtdi.dewremover:voidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <!-- DEW REMOVER DEVICE MESSAGES - END -->
  
  <wsdl:portType name="gloria_rtdi_dewremover"> 
  
  <!-- COMMON DEVICE PORT TYPE OPS - BEGIN -->    
    <wsdl:operation name="devGetDevice">
	  <wsdl:documentation>
	  Recover the information of one device.
	  @return Current device data.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devGetDeviceRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devGetDeviceResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperties">
	  <wsdl:documentation>
	  Recover the properties of a device.
	  @return Properties List.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devGetDevicePropertiesRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devGetDevicePropertiesResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperty">
	  <wsdl:documentation>
	  Recover a property of a device.
	  @param name Property name
	  @return Properties List.
	  @throws RtiError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devGetDevicePropertyRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devGetDevicePropertyResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDeviceProperty">
	  <wsdl:documentation>
	  Updates a property into a Device configuration. If the property is a readonly property or the value cannot be (internally) transformed into the proper type, an exception will be throw.
	  @param name Property name.
	  @param value Values of the property.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devUpdateDevicePropertyRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devUpdateDevicePropertyResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDevicePropertyAsync">
	  <wsdl:documentation>
	  Updates a property into a Device configuration. If the property is a readonly property or the value cannot be (internally) transformed into the proper type, an exception will be throw.
	  Asynchronous call.
	  @param name Property name.
	  @param value Values of the property.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devUpdateDevicePropertyAsyncRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devUpdateDevicePropertyAsyncResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devIsConnected">
	  <wsdl:documentation>
	  Checks the link between the driver and the device. If True, the link is enable.
	  @return boolean.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devIsConnectedRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devIsConnectedResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devConnect">
	  <wsdl:documentation>
	  Creates the link between the driver and the device.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devConnectRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devConnectResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devDisconnect">
	  <wsdl:documentation>
	  Controls the link between the driver and the device. Set True to enable the link. Set False to disable the link.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devDisconnectRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devDisconnectResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devGetConfiguration">
	  <wsdl:documentation>
	  Returns a String containing a full configuration information. For logging purpose.
	  @return Configuration in a string.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devGetConfigurationRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devGetConfigurationResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <wsdl:operation name="devIsBlocked">
	  <wsdl:documentation>
	  Returns true if the device is blocked because of its blocked state or some dependency to other device.
	  @throws RtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:devIsBlockedRequest">
    </wsdl:input>
      <wsdl:output message="rtdi.dewremover:devIsBlockedResponse">
    </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    <!-- COMMON DEVICE PORT TYPE OPS - END -->
    
    <!-- DEW REMOVER PORT TYPE OPS - BEGIN -->
    <wsdl:operation name="dwrGetChannelsNumber">
	  <wsdl:documentation>
	  Returns the channels number. 
	 @return Channel number.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:dwrGetChannelsNumberRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.dewremover:dwrGetChannelsNumberResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="dwrGetChannelType">
	  <wsdl:documentation>
	  Returns the type of a channel (duty cycle, temperature controlled). 
	  @param channel channel id (order).
	  @return Type.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:dwrGetChannelTypeRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.dewremover:dwrGetChannelTypeResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="dwrSetTemperatureThreshold">
	  <wsdl:documentation>
	  Set the temperature threshold for the selected channel. If this channel is not temperature controlled an exception will  be raised. 
	  @param channel Channel id (order).
	  @param temperature threshold.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:dwrSetTemperatureThresholdRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.dewremover:dwrSetTemperatureThresholdResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    <wsdl:operation name="dwrSetCycleThreshold">
	  <wsdl:documentation>
	  Set the duty cycle  for the channel introduced as parameter. If this channel is temperature controlled an exception will  be raised. 
	  @param channel Channel id (order).
	  @param cycle duty cycle.
	  @throws rtdError In error case.
	  </wsdl:documentation>
      <wsdl:input message="rtdi.dewremover:dwrSetCycleThresholdRequest">
      </wsdl:input>
      <wsdl:output message="rtdi.dewremover:dwrSetCycleThresholdResponse">
      </wsdl:output>
    <wsdl:fault message="rtdi.dewremover:rtdError" name="error"/>
    </wsdl:operation>
    
    <!-- DEW REMOVER PORT TYPE OPS - END -->
    
  </wsdl:portType>

  
  <wsdl:binding name="gloria_rtdi_dewremoverSOAP" type="rtdi.dewremover:gloria_rtdi_dewremover">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- COMMON DEVICE BINDING OPS - BEGIN -->
    <wsdl:operation name="devGetDevice">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devGetDevice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperties">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devGetDeviceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetDeviceProperty">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devGetDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devUpdateDeviceProperty">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devUpdateDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="devUpdateDevicePropertyAsync">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devUpdateDeviceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devIsConnected">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devIsConnected"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devConnect">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devConnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devDisconnect">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devDisconnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devIsBlocked">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devIsBlocked"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="devGetConfiguration">
      <soap:operation soapAction="http://gloria.eu/rtdi.dewremover/devGetConfiguration"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- COMMON DEVICE BINDING OPS - END -->
    
    <!-- DEW REMOVER DEVICE BINDING OPS - BEGIN -->
    <wsdl:operation name="dwrGetChannelsNumber">
      <soap:operation soapAction="http://gloria.eu/dewremover/dwrGetChannelsNumber"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dwrGetChannelType">
      <soap:operation soapAction="http://gloria.eu/dewremover/dwrGetChannelType"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dwrSetTemperatureThreshold">
      <soap:operation soapAction="http://gloria.eu/dewremover/dwrSetTemperatureThreshold"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dwrSetCycleThreshold">
      <soap:operation soapAction="http://gloria.eu/dewremover/dwrSetCycleThreshold"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        
    <!-- DEW REMOVER DEVICE BINDING OPS - END -->
    
    </wsdl:binding>
  
  <wsdl:service name="gloria_rtdi_dewremover">
    <wsdl:documentation/>
    <wsdl:port binding="rtdi.dewremover:gloria_rtdi_dewremoverSOAP" name="gloria_rtdi_dewremoverSOAP">
      <soap:address location="http://localhost:8080/RTDI_Dewremover/services/gloria_rtdi_dewremoverSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>